.breadcrumbs{
	margin:0;
	padding-left:0;
	.breadcrumbs__item{
		list-style:none;
		display:inline-block;
		margin-right:30px;
		position:relative;
		.breadcrumbs__item__link{
			display:block;
			padding-bottom:10px;
			@include font($font-size-default, $segoe,$color_subtitle_gray);
			&:hover, &:focus, &:active, &:focus:active{
				color:darken($color_subtitle_gray, 10%);
				text-decoration:none;
			}
		}
		&:after{
			position:absolute;
			content:'>';
			@include font($font-size-default, $segoe,$color_subtitle_gray);
			right:-20px;
			top:0;
		}
		&:last-child{
			&:after{
				content:'';				
			}
		}
	}
}