/*-------------------[ Font family ]-------------------*/
@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/segoeui.eot');
    src: local("Segoe UI"),
         local("Segoe"),
         local("Segoe WP"),
         url('../fonts/segoeui.eot?#iefix') format('embedded-opentype'),
         url('../fonts/segoeui.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fonarto';
    src: url('../fonts/Fonarto.ttf');
    font-weight: normal;
    font-style: normal;
}

$ubuntu  : 'Ubuntu', sans-serif;
$segoe 	 : 'Segoe UI';
$fonarto : 'Fonarto';
$lato    : 'Lato', sans-serif;
$open    : 'Open Sans', sans-serif;

.ubuntu__family{
    font-family:$ubuntu;
}

.segoe__family{
    font-family:$segoe;
}

/*------------------------[ Font-size ]-----------------------*/

$font-size-default 	: 14px !default;
$font-size-strong 	: $font-size-default + 2 !default; //~16px
$font-size-lg	  	: $font-size-default + 1 !default; //~15px
$font-size-sm     	: $font-size-default - 1 !default; //13px
$font-size-xs     	: $font-size-default - 2 !default; //~12px
$font-size-small    : $font-size-xs - 2; //~10px

$font-size-logo		: 48px;

$font-size-h1-title : 32px;
$font-size-h2-title : 28px;
$font-size-h3-title : 24px;
$font-size-h4-title : 20px;
$font-size-h5-title : 18px;
$font-size-h6-title : 16px;

$font-size-sell : 36px;

.toostrong__text{
     font-size:$font-size-h5-title;
}

.strong__text{
    font-size:$font-size-strong;
}

.default__text{
    font-size:$font-size-default;
}

.lg__text{
    font-size:$font-size-lg;
}

.sm__text{
    font-size:$font-size-sm;
}

.xs__text{
    font-size:$font-size-xs;
}

/*------------------------[ Font-weight ]-----------------------*/

$font-weight-thin   	: 100 !default;
$font-weight-light  	: $font-weight-thin  + 200 !default;  //~300
$font-weight-normal 	: $font-weight-light + 100 !default;  //~400
$font-weight-regular	: $font-weight-normal !default;
$font-weight-medium 	: $font-weight-normal + 100 !default; //~500
$font-weight-semibold   : $font-weight-medium + 100 !default; //~600
$font-weight-bold   	: $font-weight-medium + 200 !default; //~700
$font-weight-ultra-bold : $font-weight-bold + 200 !default;   //~900

.text-bold{
    font-weight:$font-weight-bold;
}