.pagination{
	width:100%;
	text-align:right;
	border-top:1px solid $color_extra_light_border;
	.pagination__item{
		display:inline-block;
		list-style:none;
		.pagination__item__link{
			display:block;
			padding:7px 10px;
			margin-top:15px;
			margin-right:5px;
			background-color:$color_extra_light_border;
			border:none;
			@include border-radius(0);
			@include font($font-size-default, $segoe, $color_dark_gray);
			&.active, &:hover, &:active, &:focus:active{
				background-color:$color_main_pink;
				color:$color_white;
			}
			&.disabled{
				background-color:lighten($color_extra_light_border, 4%);
				color:lighten($color_dark_gray, 10%);
			}
		}
		&:last-child{
			.pagination__item__link{
				margin-right:0;
			}
		}
	}
}