// Variables
$select2_width: 170px;
$select2_height: 30px;
$select2_border-color: #CFC4CF;
$select2_line-height: $select2_height;
$select2_font-size: 13px;
$select2_color: #999999;
$main-text-color: #777177;
$toolbar__dropdown-line-height: 28px;

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.bootstrap-select {
  width: 100%;
  margin-bottom:15px;
  border:1px solid $color_input_border;

  /*IE9 and below*/
  > .dropdown-toggle {
    width: 100%;
    padding: 0 45px 0 12px;
    background-color: #ffffff;
    border-color: $select2_border-color;
    line-height: ($select2_height - 2);
    height:32px;
    @include border-radius(0);
  }

  &.fit-width {
    width: auto !important;
  }

  &.form-control {
    margin-bottom: 0;
    padding: 0;
    border: none;

    &:not([class*="col-"]) {
      width: 100%;
    }

    &.input-group-btn {
      z-index: auto;
    }
  }
  .btn{
    border:none;
  }

  &.btn-group {    
    &.dropdown-menu-right,
    &[class*="col-"].dropdown-menu-right, {
      float: right;
    }

    &.disabled,
    > .disabled {
      cursor: not-allowed;

      &:focus {
        outline: none !important;
      }
    }

    .dropdown-toggle {
      .filter-option {
        display: inline-block;
        color: $main-text-color;
        overflow: hidden;
        text-align: left;
        padding: 5px 0;
      }

      .caret {
        position: absolute;
        top: 0;
        right: 0;
        width: 32px;
        height: 32px;
        font-family: "FontAwesome";
        font-size: 13px;
        border: 0; 
        color:$color_down_gray;
        line-height: 34px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        &:before {
          content: "\f0d7";
        }
      }
    }

    &[class*="col-"] {
      .dropdown-toggle {
        width: 100%;
      }
    }

    .dropdown-menu {
      min-width: 100%;
      margin-top: 10px;
      padding: 5px 0;
      background-color: #ffffff;
      z-index: 1035;
      @include border-radius(0);
      &.inner {
        position: static;
        float: none;
        border: 0;
        padding: 0;
        margin: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
      }

      li {
        position: relative;
        &.active {
          small {
            color: #fff;
          }
        }

        &.disabled {
          a {
            cursor: not-allowed;
          }
        }

        a {
          padding: 1px 12px;
          color: #999999;
          cursor: pointer;
          text-align:left;
          &:focus,
          &:hover {
            color: #ffffff;
            background-color: $color_light_gray;
          }

          &.opt {
            position: relative;
            padding-left: 2.25em;
          }

          span {
            &.check-mark {
              display: none;
            }
            &.text {
              display: inline-block;
            }
          }
          &:focus {
            outline: 0;
          }
        }

        small {
          padding-left: 0.5em;
        }
      }

      .notify {
        position: absolute;
        bottom: 5px;
        width: 96%;
        margin: 0 2%;
        min-height: 26px;
        padding: 3px 5px;
        background: #f5f5f5;
        border: 1px solid #e3e3e3;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        pointer-events: none;
        opacity: 0.9;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
    }

    .no-results {
      padding: 3px;
      background: $color_white;
      margin: 0 5px;
      white-space: nowrap;
    }
    &.fit-width {
      .dropdown-toggle {
        .filter-option {
          position: static;
        }
        .caret {
          position: static;
          top: auto;
          margin-top: -1px;
        }
      }
    }

    &.show-tick {
      .dropdown-menu {
        li {
          &.selected {
            a {
              span {
                &.check-mark {
                  position: absolute;
                  display: inline-block;
                  right: 15px;
                  margin-top: 5px;
                }
              }
            }
          }

          a {
            span {
              &.text {
                margin-right: 34px;
              }
            }
          }
        }
      }
    }

    > .btn {
      float: none;
    }
  }

  &.show-menu-arrow {
    &.open {
      > .dropdown-toggle {
        z-index: 1036;

        &:before,
        &:after {
          display: block;
        }
      }
    }

    .dropdown-toggle {
      &:before,
      &:after {
        content: '';
        position: absolute;
        display: none;
        bottom: -4px;
      }
      &:before {
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid rgba(204, 204, 204, 0.2);
        left: 9px;
      }

      &:after {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid white;
        left: 10px;
      }
    }

    &.dropup {
      .dropdown-toggle {
        &:before,
        &:after {
          bottom: auto;
          top: -3px;
          border-bottom: 0;
        }

        &:before {
          border-top: 7px solid rgba(204, 204, 204, 0.2);
        }

        &:after {
          border-top: 6px solid white;
        }
      }
    }

    &.pull-right {
      .dropdown-toggle {
        &:before,
        &:after {
          left: auto;
        }

        &:before {
          right: 12px;
        }

        &:after {
          right: 13px;
        }
      }
    }
  }

  &.open {
    > .dropdown-toggle {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      background-color: #ffffff;

      &:active {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
    }
  }

  &.color-select {
    .dropdown-toggle {
      .label-color {
        margin-right: 5px;
      }
    }

    div.dropdown-menu {
      min-height: 0 !important;
    }

    ul.dropdown-menu {
      min-height: 0 !important;
      @include clearfix;

      &.inner {
        padding: 4px 10px;
      }

      > li {
        float: left;
        padding: 2px;

        > a {
          display: block;
          padding: 2px;
          border: 1px solid transparent;
          line-height: normal;

          .label-color {
            display: block;
          }
        }
      }
    }
  }
}

.bs-searchbox,
.bs-actionsbox,
.bs-donebutton {
  padding: 4px 8px;
}
.bs-actionsbox {
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bs-actionsbox .btn-group button {
  width: 50%;
}
.bs-donebutton {
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bs-donebutton .btn-group button {
  width: 100%;
}
.bs-searchbox + .bs-actionsbox {
  padding: 0 8px 4px;
}
.bs-searchbox .form-control {
  margin-bottom: 0;
  width: 100%;
}
select.bs-select-hidden,
select.selectpicker {
  display: none !important;
}
select.mobile-device {
  position: absolute !important;
  top: 0;
  left: 0;
  display: block !important;
  width: 100%;
  height: 100% !important;
  opacity: 0;
}
/*# sourceMappingURL=bootstrap-select.css.map */

.has-error .bootstrap-select .dropdown-toggle,
.error .bootstrap-select .dropdown-toggle {
  border-color: #b94a48;
}
.row .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right {
  float: right;
}
.form-inline .bootstrap-select.btn-group,
.form-horizontal .bootstrap-select.btn-group,
.form-group .bootstrap-select.btn-group {
  margin-bottom: 0;
}
.form-group-lg .bootstrap-select.btn-group.form-control,
.form-group-sm .bootstrap-select.btn-group.form-control {
  padding: 0;
}
.form-inline .bootstrap-select.btn-group .form-control {
  width: 100%;
}

.color-select .dropdown-menu.inner li.selected a{
  border:1px solid $color_main_pink !important;
}