$icons-sprite-dimensions:true;

@import "compass/utilities/sprites";

$icons-layout: vertical;
$icons-spacing: 3px;

@import "icons/*.png";

[class*='btn-'], button, .btn{
	@include transition(0.3s ease);
	&:hover, &:focus, &:focus:active, &:active{
		outline:none;
	}
}
.btn{
	@include border-radius(0);
}

.btn-menu{
	@include icons-sprite(menu_responsive);
	background-color:transparent;
	border:none;
	display:none;
	position:absolute;
	left: 0;
	top: -35px;
	z-index:2;
}

.btn-search{
	@include icons-sprite(black-search);
	background-color:transparent;
	border:none;
	display:none;
	position:absolute;
	right: 0;
    top: -35px;
    text-indent:-9999px;
    &.btn-remove{
    	height: 28px;
    	text-indent:0;
    	padding:0;
    	background:none;
    	background-color:$color_dark_gray;
    	@include border-radius(100%);
    	span{
    		position:relative;
    		top:-2px;
    		@include font($font-size-strong, $segoe, $color_white); 
    	}
    }
}

.btn__accept{
	display:block;
	width:100%;
	margin-bottom:20px;
	margin-top:10px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	border:none;
	cursor:pointer;
	background-color:$color_main_pink;
	@include font($font-size-h4-title, $segoe, $color_white);
	@include condition-block{
		text-decoration:none;
		color:$color-white;
		background-color:darken($color_main_pink, 10%);
		@include transition(0.3s ease);
	}
}

.btn__default{
	padding:10px 20px;
	text-align:center;
	border:none;
	position:relative;
	background-color:$color_main_pink;
	@include font($font-size-h4-title, $segoe, $color_white);
	@include condition-block{
		text-decoration:none;
		color:$color-white;
		background-color:darken($color_main_pink, 10%);
		@include transition(0.3s ease);
	}
	input[type="file"]{
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		opacity:0;
	}
	&.btn__small{
		padding:5px 10px;
		font-size:$font-size-h6-title;
	}
}

.btn__primary{
	margin-bottom:20px;
	margin-top:10px;
	padding:10px 40px;
	text-align:center;
	border:none;
	background-color:$color_thin_gray;
	@include font($font-size-h4-title, $segoe, $color_dark_gray);	
	@include condition-block{
		text-decoration:none;
		color:$color_dark_gray;
		background-color:darken($color_thin_gray, 10%);
		@include transition(0.3s ease);
	}
}

.btn-invite{
	margin-bottom:20px;
	margin-top:10px;
	padding:10px 40px;
	text-align:center;
	border:none;
	background-color:$color_thin_gray;
	@include font($font-size-default, $segoe, $color_dark_gray);	
	@include condition-block{
		text-decoration:none;
		color:$color_dark_gray;
		background-color:darken($color_thin_gray, 10%);
		@include transition(0.3s ease);
	}
}
.btn-browse{
	padding:6px 12px;
	text-align:left;
	border:none;
	width:100%;
	background-color:darken($color_thin_gray, 10%);;
	@include font($font-size-default, $segoe, $color_dark_gray);	
	@include condition-block{
		text-decoration:none;
		color:$color_dark_gray;
		background-color:darken($color_thin_gray, 20%);
		@include transition(0.3s ease);
	}
}

.remove__checkout{
	margin-left:auto;
	margin-right:auto;
	width:20px;
	height:20px;
	display:block;
	text-align:center;
	border:2px solid $color_dark_gray;
	line-height: $font-size-default - 2;
	font-weight:$font-weight-bold;
	padding:0;
	@include border-radius(100%);
	@include font($font-size-default, $segoe, $color_dark_gray);
	@include condition-block{
		text-decoration:none;
		@include transform(scale(1.1));
	}
}

.btn__edit,
.btn__trash{
	position:absolute;
	top:0;
	padding:2px 5px;
	background-color:$color_profile_button_bg;
	font-size:$font-size-h6-title;
	color:$color_black;
	border:none;
	@include border-radius(0);
	&:hover, &:focus, &:focus:active{
		background-color:$color_profile_button_bg_hover;
		color:$color_main_pink;
	}
}

.btn__edit{
	right:35px;
}

.btn__trash{
	right:10px;
}

.btn-change-element{
	padding:2px;
	border:none;
	margin:0;
	margin-right:5px;
	background: none;
	display:block;
	float:left;
	@include border-radius(4px);
	&:focus:active{
		background: linear-gradient(to bottom,$color_gradient1,$color_gradient2);
	}
}


.btn-small{
	padding:6.5px;
	font-size:$font-size-lg;
}

.btn-post-reverse,
.btn-post {
  display: inline-block;
  min-width: 210px;
  font-family: $segoe;
  font-size: $font-size-default;
  line-height: 32px;
  text-align: center;

  &:focus,
  &:hover {
	text-decoration: none;
  }
}

.btn-post {
  color: $color_main_pink;
  border: 1px solid $color_main_pink;

  &:focus,
  &:hover {
	background-color: $color_main_pink;
	color: $color_white;
  }
}

.btn-post-reverse {
  color: $color_white;
  border: 1px solid $color_white;

  &:focus,
  &:hover {
	background-color: $color_white;
	color: $color_main_pink;
  }
}

.control__search{	
	position:absolute;
	content:'';
	top: 12px;
	right: 15px;
	padding:5px 10px;
	@include icons-sprite(Search);
	text-indent: -99999px;
    background-color: transparent;
    display: block;
    border: none;
    &:hover{
    	@include transform (scale(1.2));
    }
}

.btn-conf{
	background-color:$color_bg_btn-conf;
	border: 0;
  	padding: 0;
	color:$color_btn_gray;
	width:100%;
  	height: 40px;
	text-align:left;
	position:relative;
	&.btn-conf-indent{
		margin-bottom:10px;
	}
	.fa{
		font-size:$font-size-h6-title;

	  &:first-child {
		margin-right:10px;
		color: #FFFFFF;
		background-color: $color_main_pink;
	  }
	}

  	.zmdi:last-child,
	.fa:first-child {
	  width: 40px;
	  height: 100%;
	  line-height: 40px;
	  text-align: center;
	}

  	.zmdi {
	  &:last-child {
		float: right;
		margin-right: 5px;
		font-size: 18px;
		@include opacity(0.3);
	  }
	}
	input[type="file"]{
		position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    width: 100%;
	    opacity: 0;
	}
}

.btn-home{
	padding:10px 20px;
	background-color:$color_white;
	color:$color_main_pink;
	border:1px solid $color_main_pink;
}

.btn-editor{
	padding:2px;
	width:25px;
	text-align:center;
	border:none;
	background-color:transparent;
	.fa{
		color:$color_white;
		font-size:$font-size-default;
		line-height: 25px;
	}
	@include condition-block{
		.fa{
			color:$color_main_pink;
		}
	}
	&:hover{
		.fa{
			color:$color_main_pink !important;
		}
		.icon-double{
			@include icons-sprite(double-element-black-hover);
		}
		.icon-center{
			@include icons-sprite(center-element-black-hover);
		}
		.icon-front{
			@include icons-sprite(front-element-black-hover);
		}
		.icon-horizontal{
			@include icons-sprite(hor-mirror-element-black-hover);
		}
		.icon-vertical{
			@include icons-sprite(vert-mirror-element-black-hover);
		}
	}
}