.cart{
	width:100%;
	margin-top:40px;
	thead{
		tr{		
			border-bottom:1px solid $color_light_gray;	
			th{				
			    font-weight: $font-weight-bold;
			    text-align: center;
			    margin-top: 0;
			    padding-bottom:10px;
			    @include font($font-size-default, $segoe, $color_dark_gray);
			    &:first-child, &:nth-child(2){
			    	text-align:left;
			    }
			    .cb-checkbox{
			    	@include font($font-size-default, $segoe, $color_dark_gray);
			    	font-weight: $font-weight-bold;
			    }
			}
		}		
	}
	tbody{
		tr{			
			&:nth-child(even){
				background-color:$color_opacity_gray;
			}
			td{
				vertical-align:top;
				text-align:center;	
				border-right:1px solid $color_thin_gray;
				padding:10px;
				@include font($font-size-h6-title, $segoe, $color_dark_gray);		
				&:first-child{
					vertical-align:middle;
					border:none;	
				}
				&:last-child{
					border:none;
				}
				&:nth-child(3){
					text-align:left;
				}
				.quantity{
					float:none;
					padding:0;
					.quantity__block{
						margin:0 auto;
						input{
							@include font($font-size-default, Arial, $color_dark_gray);	
						}
					}
				}
				.cart__title{
					@include font($font-size-h4-title, $ubuntu, $color_dark_gray);
				}
				.cart__list{
					padding-left:20px;
					list-style-image:url(../images/icons/checkout_list.png);
					.cart__list__item{
						text-align:left;
						@include font($font-size-default, $segoe, $color_dark_gray);
						span{
							@include font($font-size-default, $segoe, $color_checkout_size);
							font-style:italic;
						}
					}
				}
			}
		}
	}
}

.cart__subtotal{
	@include font($font-size-h4-title, $segoe, $color_dark_gray);
	font-weight:$font-weight-semibold;
	span{
		margin-left:20px;
	}
}

.cart__empty{
	border:1px solid $color_light_gray;
	background-color:$color_white;
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
	margin-top:40px;
	//@include box-shadow(0 0 20px rgba(0,0,0,0.2));
	.cart__empty__title{
		@include font($font-size-h1-title, $ubuntu, $color_dark_gray);
	}
	.cart__empty__text{
		@include font($font-size-strong, $segoe, $color_checkout_size);
		font-style:italic;
	}
}