.colors-box {
  margin-right: -5px;

  &__item {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;

    &__btn {
      position: relative;
      display: inline-block;
      width: 34px;
      height: 34px;
      border: 1px solid transparent;
      vertical-align: top;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border: 1px solid transparent;
      }
    }

    &.active .colors-box__item__btn,
    &__btn:hover {
      border-color: $color_main_pink;

      &::before {
        border-color: #FFFFFF;
      }
    }
  }
}