.configurator__steps{
	position:relative;
}
.configurator__list{
	counter-reset: list 0;
	padding-left:0;
	text-align:right;
	position:absolute;
	top:0;
	right:0;
	margin-bottom:0;
	.configurator__list__item{
		list-style-type: none;
		display:inline-block;
		margin-right:30px;
		position:relative;
		@include font($font-size-default, $segoe, $color_subtitle_gray);   
		&:before{
			counter-increment: list;
    		content: counter(list);
    		display:inline-block;
    		margin-right:10px;
    		text-align:center;
    		font-style:normal;
    		font-weight:$font-weight-semibold;
    		padding:5px 10px;
    		background-color:$color_extra_light_border;
    		@include border-radius(100%);
    		@include font($font-size-default, $segoe, $color_subtitle_gray);    		
		}
		&:after{
			display:block;
			position:absolute;
			content:'>';
			top:2px;
			right:-23px;
			@include font($font-size-h5-title, $segoe, $color_subtitle_gray); 
		}
		&:last-child{
			margin-right:0;
			&:after{
				content:'';
			}
		}
		&.active{
			color:$color_dark_gray;
			&:before{
				color:$color_dark_gray;
			}
		}
		&.done-success{
			color:$color_main_pink;
			&:before{
				background-color:transparent;
				padding:0;
				content:'\f058';
				font:normal normal normal 20px/1 FontAwesome;
				position: relative;
				top: 3px;
				color:$color_main_pink;
				@include border-radius(0);
			}
			&:after{
				top:0;
			}
		}
	}
}

.configurator__aside{
	padding-left:0;
	width:160px;
	float:left;
	&__item{
		list-style:none;		
		&__link{
		  	position: relative;
			display:block;
			padding: 10px 0 10px 20px;
			color:$color_btn_gray;
			border-bottom:1px solid transparent;

			&::before {
			  content: "";
			  position: absolute;
			  top: 0;
			  left: 0;
			  bottom: 0;
			  width: 4px;
			  background-color: transparent;
			}
		  	.zmdi {
			  float: right;
			  line-height: 19px;
			  color: transparent;
			}

			&:hover, &:active, &:focus, &:focus:active, &.active{
				color:$color_main_pink;
				text-decoration:none;
			  	font-weight: bold;
				border-bottom:1px solid $color_white;
				.icon-gray-shirt{
					@include icons-sprite(white_shirts);
				}
				.icon-gray-cups{
					@include icons-sprite(white_cups);
				}
				.icon-gray-suspenders{
					@include icons-sprite(white_suspenders);
				}
				.icon-gray-cup{
					@include icons-sprite(white_cup);
				}
				.icon-gray-towel{
					@include icons-sprite(white_towel);
				}
				.icon-gray-pillo{
					@include icons-sprite(white_pillo);
				}
				.icon-gray-belts{
					@include icons-sprite(white_belts);
				}
				.icon-gray-sweater{
					@include icons-sprite(white_sweater);
				}
				.icon-gray-top{
					@include icons-sprite(white_top);
				}
				.icon-gray-scarfs{
					@include icons-sprite(white_scarfs);
				}	
				.icon-gray-apron{
					@include icons-sprite(white_apron);
				}
				.icon-gray-bags{
					@include icons-sprite(white_bags);
				}
			  	&::before {
				  background-color: $color_main_pink;
				}
				.zmdi {
				  color: inherit;
				}
			}
		}
		&.is-border{
			padding-bottom:20px;
			position:relative;
			&:after{
				content:'';
				position:absolute;
				left:20px;
				bottom:10px;
				width:25px;
				height:1px;
				background-color:$color_submenu;
			}
		}
		&:last-child{
			.campaign__aside__item__link{
				border-bottom:1px solid transparent;
			}
		}
	}
	&__xs{
		margin-bottom:20px;
		.chosen-select{
			width:100%;
		}
	}
}

.configurator__settings{
	width:280px;
	float:right;
	&__item{
		background-color:$color_light_gray;
		padding:20px;
		margin-bottom:2px;		
	}
	&__title{
		@include font(null, $ubuntu, $color_dark_gray);
	  	font-weight: 700;
		margin-top:0;
	}
	&__content{
		padding:15px 5px;
		&.settings__footer{
			margin-bottom:50px;
		}
		.chosen-select,
		.quantity .quantity__block .quantity__control,
		.quantity .quantity__block .quantity__decrement,
		.quantity .quantity__block .quantity__increment {
		  height: 40px;
		}
		.quantity .quantity__block .quantity__decrement,
		.quantity .quantity__block .quantity__increment {
		  width: 25px;
		  color: $color_dark_gray;
		}

		&.add-text {
			hr.hr {
			  margin-bottom: 0;
			}

		  	.bootstrap-select > .dropdown-toggle {
			  height: 38px;

			  .caret {
				height: 38px;
				line-height: 38px;
			  }
			}
		}
	}
	&__text{
		@include font($font-size-default, $ubuntu, $color_btn_gray);
	}
	&__lighten__text{
		@include font($font-size-default, $ubuntu, $color_title_gray);
	}
}
.configurator__content{
	margin-left:160px;
	margin-right:280px;
	text-align:center;
	margin-bottom:40px;
	.configurator__content__picture{
		display:block;
		margin-left:auto;
		margin-right:auto;
		position: relative;
	}
	.canvas-container{
		margin-left:auto;
		margin-right:auto;
		position:relative;
	}
	&__media{
		position:absolute;
		#text{
			width:166px;
			height:77px;
			position:absolute;
			top:83px;
			left:15px;
		}
		&__editor{
			background-color:$color_black;
			padding: 8px;
			z-index:5;
			height:41px;
			@include box-shadow(0 0 20px rgba(255,255,255,1));
			@include border-radius(4px);
			&:after{
				position:absolute;
				border: 10px solid transparent;
				border-top: 10px solid $color_black;
				bottom:-20px;
				left:50%;
				margin-left:-10px;
				content:'';
			}
			.btn-group{
				vertical-align: top;
			}
			*{
				color:$color-white !important;
				background-color:$color_black !important;
				font-size:$font-size-small;
			}
			.editor__item{
				margin-right:5px;
				border:none;
				&:last-child{
					margin-right:0;
				}
				&.editor__item__text{
					width:100px;
				}
				&.editor__item__block{
					width:60px;
					&.edit__color{
						.dropdown-menu{
							min-height:auto !important;
							min-width:250px !important;
							ul{
								min-height:auto !important;
								padding:10px;
								li{
									display:inline-block;
									border:1px solid transparent;
									&.selected{
										border:1px solid $color_main_pink;
									}
									a{
										padding:0;
										margin:5px;
									}
								}
							}
						}
					}
				}
				*{
					line-height:15px !important;
				}
				.btn-default{
					padding-left:7px;
				}
				.btn-default, .caret{
					height:25px !important;
					line-height:25px !important;
				}
				.caret{
					width:25px !important;
					font-size:$font-size-xs !important;
					color:$color_light_gray!important;	
				}
				.fa{
					font-size:$font-size-default !important;
					line-height:$font-size-sm !important;
					position: relative;
					top: 2px;
				}
				.selected{
					border-top: 1px solid $color_main_pink;
					border-bottom: 1px solid $color_main_pink;
				}
			}
		}
	}
  	.list-inline {
	  .btn__primary {
		padding: 10px 35px 11px;
		font-size: 14px;
		font-weight: bold;
		background-color: $color_bg_btn-conf;

		&:hover {
		  background-color: shade($color_bg_btn-conf, 10%);
		}

		i {
		  margin-right: 5px;
		  font-size: 18px;
		}

		i,
		span {
		  vertical-align: middle;
		}
	  }
	}
}
.configurator__create__settings{
	&__item{
		padding:5px;
		margin-bottom:15px;
		background-color:$color_white;
		border:1px solid $color_input_border;
		cursor:pointer;
		&__content{
			display:table;
		  	width: 100%;
		  	height: 68px;
			border-spacing:0;
			.shirt__preview{
				display:table-cell;
				vertical-align: middle;
			}
		}
		&__inner{
			padding-left:10px;
			display:table-cell;
			vertical-align: middle;
		}
		&__title{
			@include font(14px, $lato, $color_create_settings);
			margin-top:0;
		  	margin-bottom: 8px;
		}

		[name='shirt']{
			display:none;
		}
		&__text{
			@include font($font-size-xs, $lato, $color_title_gray);
			margin-bottom:0;
		}		
		&.active{
			border:1px solid $color_main_pink;
		}
	}
	&__colors {
	  margin: 5px 0 10px;
	}
}

[data-popover]{
	&.active{
		background-color:$color_opacity_pink;
		border-color:$color_main_pink;
	}
}

.cost__text{
	@include font($font-size-h5-title, $ubuntu, $color_dark_gray);
	margin-bottom:0;
}
.cost{
	@include font($font-size-h3-title, $ubuntu, $color_dark_gray);
	font-weight:$font-weight-bold;
}

.configurator__body{
	background-color:$color_thin_gray;
	padding:20px;
	margin-bottom:10px;
	.configurator__body__title{
		@include font($font-size-h3-title, $ubuntu, $color_dark_gray);
		padding-bottom:10px;
		border-bottom:1px solid $color_extra_light_border;
	}
	.configurator__body__slider{
		@include border-radius(0);
		background-color:$color_border_sign;
		span{			
			background:$color_main_pink;
			border:1px solid darken($color_main_pink, 10%);
			@include border-radius(100%);
			@include box-shadow(0px 5px 10px 5px rgba(0, 0, 0, 0.02));
			@include condition-block{
				background-color:darken($color_main_pink, 10%);
			}
		}
		.configurator__body__slider__content{
			background:$color_main_pink;
			position:absolute;
			top:0;
			left:0;
			bottom:0;
		}
	}
	.slider__value{
		padding-top:10px;
		& > * {
			@include border-radius(0);
		}
		.input-group-addon{
			width:60%;
			background-color:$color_opacity_gray;
			@include font($font-size-h6-title, $segoe, $color_title_gray);
		}
	}
}

.configurator__body__product{
	.configurator__body__product__picture{
		border:1px solid $color_extra_light_border;
		padding:10px;
		height:110px;
		width:95px;
		float:left;
		position:relative;
		overflow:hidden;
		background-color:$color-white;
		img{
			width:100%;
			height:100%;
		}
	}
	.configurator__body__product__content{
		margin-left:120px;
		position:relative;
		.configurator__body__product__content__title{
			@include font($font-size-h6-title, $segoe, $color_dark_gray);
			margin-bottom:5px;
		}
		.configurator__body__product__content__text{
			@include font($font-size-h6-title, $segoe, $color_title_gray);
			margin-bottom:20px;
		}
		
		.configurator__body__product__price{
			position:absolute;
			right:0;
			top:10px;
			width:100px;
			padding:10px;			
			background-color:$color_white;
			border:1px solid $color_input_border;
			font-weight:$font-weight-bold;
			text-align:center;
			@include font($font-size-h6-title, $segoe, $color_dark_gray);
		}
	}
}
.configurator__choose__color{
	margin-top:20px;
	display:inline-block;
	&.active{
		border:none;
		background:none;
	}
}
.configurator__color{
	width:32px;
	height:32px;
	padding:5px;
	border:1px solid $color_input_border;
	margin-right:10px;
	margin-bottom:10px;
	float:left;
	position:relative;
	.color__block{
		width:20px;
		height:20px;
		display:block;
	}
	&.color__empty{
		border-style:dashed;
	}
	&:last-child{
		.color__block{
			margin-right:0;
		}
	}
	&[data-add-color]{
		width:auto;
		border:none;
		padding:0;	
	}
	.add__color{
		height:32px;
		width: 43px;
    	padding: 4px 3px 0 3px;
		border:1px solid $color_input_border;
		.color__block{
			background-image:url('../images/background/more_color.png');
			background-size:cover;
			display:inline-block;		
		}
		&:before{
			content:'+';
			display:block;
			float:left;
			margin-right:5px;
			color:$color_black;
			font-size:$font-size-lg;
			line-height:$font-size-h4-title;
		}
		&:hover{
			background-color:$color_white;
		}
	}
}

.modal-backdrop{
	bottom:-5000px;
	z-index:999;
}

.modal{
	.close{
		@include font($font-size-h6-title, $segoe, $color_black);
		position:absolute;
		top:10px;
		right:10px;
		z-index:99999;
	}
	.modal-content{
		@include border-radius(0);
		position:relative;		
	}
}
.artwork__gallery{
	display:block;
	position:relative;
	overflow:hidden;
	float:left;
	width:50px;
	height:50px;
	margin-right:10px;
	border:1px solid $color_light_gray;
	margin-bottom:10px;
	&.active{
		border-color:$color_main_pink;
	}
	.artwork__gallery__picture{		
		position:absolute;
		width:100%;
		top:0;
		left:0;
		right:0;
		bottom:0;
		margin:auto;
	}
}

.artwork__title{
	@include font($font-size-h4-title, $segoe, $color_dark_gray);
}
.artwork__subtitle{
	@include font($font-size-h6-title, $segoe, $color_title_gray);
}

.create__menu{
	padding-left:0;
	border-bottom:1px solid $color_light_gray;
	border-top:1px solid $color_light_gray;
	position:relative;
	z-index:1;
	margin-top:-21px;
	&__item{
		display:inline-block;
		list-style:none;
		padding:10px;
		&__link{
			color:$color_subtitle_gray;
			 &:hover, &:active, &:focus, &:focus:active, &.active{
			 	text-decoration:none;
			 	color:$color_main_pink;
			}
		}
	}
}

.list__images{
	padding-left:0;
	&__item{
		list-style:none;
		display:inline-block;
		margin-right:10px;
		&__picture{
			max-height:150px;
			margin-bottom:10px;		
		}
		&:last-child{
			margin-right:0;
		}
	}
}

.editorbox{
	position: absolute;
    bottom:-50px;
    left: 0;
    list-style: none;
    text-align: left;
    padding-left:0;
    color:$color_subtitle_gray;
    span{
    	color:$color_dark_gray;
    }
}

.configurator__tab-container {
  margin-bottom: 80px;
  background-color: #F5F5F5;

  .product__tab__content {
	min-height: 260px;
	padding: 30px 35px;
	border: 0;
  }
  .product__tabs {
	border-bottom: 1px solid #E5E5E5;

	.product__tabs__item {
	  float: left;
	  border-right: 1px solid #E5E5E5;

	  .product__tabs__item__link {
		padding: 17px 35px;
		color: rgba($color_dark_gray, 0.6);

		&:after {
		  content: "";
		  display: none;
		  position: absolute;
		  right: 36px;
		  left: 36px;
		  bottom: -1px;
		  height: 3px;
		  background-color: $color_main_pink;
		}
	  }

	  &.active .product__tabs__item__link,
	  .product__tabs__item__link:hover {
		margin-bottom: 0;
		border-color: #F5F5F5;
		color: $color_dark_gray;

		&:after {
		  display: block;
		}
	  }

	  &:not(:first-child) {
		.product__tabs__item__link {
		  border-bottom: 0;
		  border-right: 0;
		  border-left: 0;
		}
	  }
	  &:first-child {
		.product__tabs__item__link {
		  border-bottom: 0;
		  border-right: 0;
		}
	  }
	}
  }
}