.countown{
	margin-top:10px;
	margin-bottom:20px;
	text-align:center;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	border:1px solid $color_extra_light_border;
	@include border-radius(8px);
	&__header{
		font-weight:$font-weight-bold;
		color:$color_black;
		font-size:$font-size-strong;
		margin-bottom:5px;
	}
	&__text{
		color:darken($color_extra_light_border, 20%);
	}
}