.ui-datepicker{
	background-color: $color_white;
	width: 220px;
	z-index:999999 !important;
	.ui-datepicker-prev,
	.ui-datepicker-next{				
		.ui-icon{
			text-indent:-9999999px;			
			position:absolute;			
		}
	}
	.ui-datepicker-prev{
		float:left;
		margin-left:20px;
		margin-top:3px;
		.ui-icon{
			@include icons-sprite(date-prev);
		}
	}
	.ui-datepicker-next{
		float:right;
		margin-right:20px;
		margin-top:3px;
		.ui-icon{
			@include icons-sprite(date-next);
		}
	}
	.ui-datepicker-header{
		padding-top:10px;
		padding-bottom:10px;
		text-align:center;
		border-top:1px solid $color_main_pink;	
		border-right:1px solid $color_main_pink;
		border-left:1px solid $color_main_pink;
		.ui-datepicker-title{			
			@include font($font-size-default, $segoe, $color_dark_gray);
		}
	}
	.ui-datepicker-calendar{
		width:100%;
		border-right:1px solid $color_main_pink;
		border-left:1px solid $color_main_pink;
		border-bottom:1px solid $color_main_pink;
		thead{
			border-top:1px solid $color_extra_light_border;
			border-bottom:1px solid $color_extra_light_border;
			tr{
				background-color:$color_opacity_gray;
				th{
					@include font($font-size-xs, $segoe, $color_title_gray);
					text-align:center;
					padding-top:5px;
					padding-bottom:5px;					
				}
			}			
		}
		td{				
			text-align:center;
			padding-top:5px;
			padding-bottom:5px;
			//border:1px solid $color_extra_light_border;
			position:relative;
			&:last-child{
				border-right:none;
			}
			a{
				@include font($font-size-xs, $segoe, $color_title_gray);
				&:hover{
					text-decoration: none;
				}
			}
			&:hover, &.ui-datepicker-current-day, &.ui-datepicker-today{
				outline:1px solid $color_input_border;
				background-color:$color_extra_light_border;
				z-index:50;
				a{
					color:$color_main_pink;
				}
			}
		}
	}
}