.designs {
  margin: 50px 0;
  @include clearfix;

  &__item {
    float: left;
    width: 25%;

    &:not(:first-child) {
      border-left: 1px solid #FFFFFF;

      @media(max-width: 766px) {
        border-left: 0;
      }
    }

    @media(max-width: 766px) {
      width: 50%;
      padding: 0 1px;
      margin-bottom: 50px;
    }
  }

  &__img-box {
    position: relative;
    margin-bottom: 20px;

    @media(max-width: 766px) {
      img {
        width: 100%;
      }
    }
  }

  &__img-inner-box {
    @include absolute(0, 0, 0, 0);
    background-color: rgba($color_main_pink, 0.8);
    z-index: 2;
    @include opacity(0);
    @include transition(350ms ease);

    &:before {
      content: "";
      @include absolute(0, 0, 0, 0);
      @include icons-sprite(full-size);
      margin: auto;
    }

    &:hover {
      @include opacity(1);
    }
  }

  &__btn {
    width: 150px;

    @media(max-width: 480px) {
      width: 100%;
    }
  }

  @media(max-width: 766px) {
    margin-bottom: 0;
  }
}