select{
	&.chosen-select{
		padding:7px;
		line-height: 18px;
		color:$color_dark_gray;
		border:1px solid $color_input_border;
		background-color:$color_white;
		&:focus{
			border:1px solid $color_light_pink;	
		}
	}
}

.chosen-container {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	width:100% !important;
	border:1px solid $color_input_border !important;
	background-color:$color_white;
	& *{
		@include boxSizing;
	}	
	a{		
		color:$color_dark_gray !important;
		cursor: pointer;
	}	
	.chosen-single{	
		position: relative;
		display: block;
		overflow: hidden;		  
		background-clip: padding-box;		 
		text-decoration: none;
		white-space: nowrap;
		line-height: 18px;	
		padding:5px;	
		background-color:$color_white;
		span{
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;	
			float:left;
			padding-top:2px;
			padding-bottom:2px;	
			padding-left:8px;	
			@include font($font-size-default, $segoe, $color_dark_gray);
		}
		div b{
			display: block;
			@include icons-sprite(Arrow-gray);
			position:absolute;
			right:15px;	
			top:17px;
		}
	}	
	.chosen-drop{
		position: absolute;
		top: 100%;
		display:none;
		z-index: 1010;		
		background-color: $color_white;		
		width: 100%;
		border:1px solid $color_input_border !important;	
		margin-top: 5px;
		margin-left: -1px;
		p{
			padding:10px !important;
			text-align:left !important;			
			width:100%;
			display:none;			
			font-style:italic;
		}
	}
	.chosen-results {
		position: relative;
		overflow-x: hidden;
		overflow-y: auto;		
		margin-left:-1px;
		-webkit-overflow-scrolling: touch;
		max-height:175px;
		overflow-y:auto;
		margin-bottom:0px !important;
		padding:0px;
		li{			
			padding:3px 5px 3px 9px !important;
			list-style:none;
			float:none !important;
			margin-left:1px;
			text-align:left;
			@include font($font-size-default, $segoe, $color_dark_gray);
			&:hover{				
				cursor:pointer;
				background-color:$color_extra_light_border;
				color:$color_main_pink;
			}
		}
	}
	&.chosen-with-drop {
		.chosen-drop{
			display:block;
			.chosen-single{
				div b{
					@include icons-sprite(Arrow-pink);
				}
			}
		}
	}
}