.grid-home-banners {
  padding-top:50px;
  border-top:1px solid $color_dark_gray;
  border-bottom:1px solid $color_dark_gray;
  &__item {
    margin-bottom: 30px;

    &__link {
      position: relative;
      display: block;
      overflow: hidden;

      &__text {
        @include absolute($right: 0, $bottom: 0, $left: 0);
        height: 80px;
        background-color: rgba(#000000, 0.5);
        font-family: $segoe;
        font-size: 20px;
        color: #FFFFFF;
        line-height: 80px;
        text-align: center;

        @media(max-width: 480px) {
          height: 40px;
          line-height: 40px;
        }
      }

      img {
        @include transition(1s ease);

        @media(max-width: 766px) {
          width: 100%;
        }
      }

      &:hover {
        img {
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -ms-transform: scale(1.2);
          -o-transform: scale(1.2);
          transform: scale(1.2);
        }
      }
    }
  }

  &__row {
    margin-left: -55%;
  }
  @media(max-width: 480px) {
    padding-top:20px;
  }
}

.home__content{
  padding-bottom:100px;
 a{
  font-size:$font-size-default;
  font-family:$ubuntu;
  color:$color_main_pink;
 }
 p{
  margin-bottom:15px;
 }
 .btn__default{
  color:$color_white !important
 }
  img{
    max-height:350px;
  }
}