.header{
	background-color: $color_bg_header;
	padding-top:10px;
	height:38px;
	.header__title{
		@include font($font-size-xs, $segoe, $color_footer_text);
	}
	.alert{
		margin-top:0;
		margin-bottom:0;
	}
	.dropdown{
		.dropdown__link{
		  	font-family: $segoe;
			color: $color_footer_text;
			@include condition-block{
				text-decoration:none;
			}

		  i.fa {
			margin-left: 5px;
			font-size: 12px;
		  }
		}
		&.open{
			background:none;
				.dropdown__link{
					background:none;
					color:$color_white;
				@include condition-block{
					text-decoration:none;
				}
			}
		}
		.dropdown-menu{
			left:auto;
			right:0;
			min-width:1px;
			width:80px;
			a{
				color:$color_dark_gray;
				font-size:$font-size-xs;
				i{
					position:relative;
					top:3px;
				}
			}
		}

	  + .dropdown {
		margin-left: 20px;
	  }
	}
	&__logo{
		display:block;
		height:28px;
		position:relative;
		top:-5px;
		float:left;
		img{
			max-height:100%;
			max-width:100%;
		}
	}
  	.head__search {
	  float:left;
	  width:470px;
	  margin-top: -10px;
	  margin-left: 130px;

	  .form-control {
		height: 38px;
		font-family: $segoe;
		color: $color_footer_text;
		background-color: $color_search_nav;
		border: 0;

		@include input-placeholder {
		  font-style: italic;
		}

		&:focus {
		  color: $color_dark_gray;
		  background-color: $color_white;
		}
	  }
	}
}
.logo{
	position:absolute;
	top:-30px;
	height:90px;
	.logo__picture{
		max-width:100%;
	}
}
.sign__list{
	padding:0;
	padding-top:5px;
	margin-bottom:0;
	text-align:right;
	.sign__list__item{
		list-style:none;
		display:inline-block;
		margin-right:10px;		
		.sign__list__item__link{
			@include font($font-size-default, $segoe, $color_dark_gray);
			display:block;
			padding-right:10px;
			position:relative;
			/*&:after{
				position:absolute;
				content:'';
				width:1px;
				height:10px;
				background-color:$color_light_border;
				top:6px;
				right:0;
			}*/
			&:hover, &:focus, &:active, &:focus:active{
				text-decoration:none;
				color:$color_main_pink;
			}
			.count_cart{
				top:-7px;
				left:20px;
				width:15px;
				height:15px;
				position:absolute;
				display: block;
				text-align:center;
				padding-top:2px;
				line-height:12px;
				font-style:normal;
				font-weight:$font-weight-bold;
				background-color:$color_main_pink;
				@include border-radius(100%);
				@include font($font-size-small, $ubuntu, $color_white);
			}
			&.account{
				padding-right:30px;
				&:before{
					content:"\f0dd";
					font: normal normal normal 14px/1 FontAwesome;
					position:absolute;
					top:1px;
					right:10px;
				}				
			}			
		}
		.dropdown-menu{				
			@include border-radius(0);
			.dropdown-menu__item{
				text-align:center;
				.dropdown-menu__item__link{
					@include font($font-size-default, $segoe, $color_dark_gray);
					&.logout__link{
						display:inline-block;
						margin:5px auto;
						text-align:center;
						padding-top:6px;
						padding-bottom:10px;
						background-color:$color_main_pink;
						@include font($font-size-default, $segoe, $color_white);
					}
				}
			}
		}
		&:last-child{
			margin-right:0px;
			.sign__list__item__link{
				padding-right:0px;
				&:after{
					width:0;
				}
			}
		}
	  	.sign__list__item__link__title {
		  margin-left: 8px;
		}
	}
}
.shop__list{	
	margin:0;
	padding-left:0;
	margin-left:220px;
	.shop__list__item{
		list-style:none;
		float:left;
		.shop__list__item__link{
			@include font($font-size-h5-title, $ubuntu, $color_dark_gray);
			display:block;
			font-weight:$font-weight-semibold;
			margin-right:20px;	
			padding-bottom:20px;		
			.fa{
				color:$color_down_gray;
				margin-left:5px;
				position:relative;
			  	font-size: 12px;
				top:-4px;
			}
			&:hover, &:focus, &:focus:active, &:active, &.active{
				color:$color_main_pink;
				text-decoration:none;
				.fa{
					color:$color_main_pink;
				}
			}
			&.active{
				position:relative;
				&:after{
					content:'';
					position:absolute;
					height:2px;
					left:-10px;
					right:-10px;
					bottom:-20px;
					background-color:$color_main_pink;
				}
			}
		}
		.shop__submenu{
			background-color:$color_bg_submenu;
			position:absolute;
			top:71px;
			left:0;
			width:100%;
			padding-top:20px;
			padding-bottom:20px;
			z-index:5;
			display:none;
			&:before,
			&:after{
				content:'';
			    position:absolute;
			    top:0;
			    bottom:0;
			    width:100%;
			    background-color:$color_bg_submenu
			}
			&:before{
			    left:-100%;
			}
			&:after{
				right:-100%;
			}
			&.is-active{
				display:block;
			}
		}
		.shop__list__submenu{
			padding-left:0;
			width:20%;
			float:left;
			&.is-border{
				border-left:1px solid $color_dark_gray;
				padding-left:20px;
			}
			.shop__list__submenu__item{
				list-style:none;
				.shop__list__submenu__item__link{
					display:block;
					width:100%;
					line-height:$font-size-lg*2;
					[class*='icon-']{
						display:inline-block;
						margin-right:10px;
						position:relative;
						top:3px;
					}
					.icon-create, .icon-cloud, .icon-money{
						margin:5px auto;
						display:block;
					}
					@include font($font-size-h6-title, $ubuntu, $color_submenu);
					&:hover, &:focus, &:active, &:focus:active{
						text-decoration:none;
						color:$color_main_pink;
						.icon-white-shirt{
							@include icons-sprite(small_pink_shirts);
						}
						.icon-white-cups{
							@include icons-sprite(small_pink_cups);
						}
						.icon-white-suspenders{
							@include icons-sprite(small_pink_suspenders);
						}
						.icon-white-cup{
							@include icons-sprite(small_pink_cup);
						}
						.icon-white-towel{
							@include icons-sprite(small_pink_towel);
						}
						.icon-white-pillo{
							@include icons-sprite(small_pink_pillo);
						}
						.icon-white-belts{
							@include icons-sprite(small_pink_belts);
						}
						.icon-white-sweater{
							@include icons-sprite(small_pink_sweater);
						}
						.icon-white-top{
							@include icons-sprite(small_pink_top);
						}
						.icon-white-scarfs{
							@include icons-sprite(small_pink_scarfs);
						}	
						.icon-white-apron{
							@include icons-sprite(small_pink_apron);
						}
						.icon-white-bags{
							@include icons-sprite(small_pink_bags);
						}
						.icon-white-women{
							@include icons-sprite(small_pink_women);
						}
						.icon-white-men{
							@include icons-sprite(small_pink_men);
						}
						.icon-white-kid{
							@include icons-sprite(small_pink_kid);
						}
						.icon-white-star{
							@include icons-sprite(small_pink_star);
						}
					}
				}
			}
			&.sell__submenu{
				width:100%;
				.shop__list__submenu__item{
					width:24%;
					display:inline-block;
					position:relative;
					.shop__list__submenu__item__link{
						text-align:center;
					}
					&:last-child{
						text-align:right;
						.shop__list__submenu__item__link{
							background-color:$color_main_pink;
							position: relative;
							top: -12px;
							padding-top:15px;
							padding-bottom:15px;
							color:$color_white;
							font-size:$font-size-h3-title;
							&:hover, &:focus, &:focus:active, &:active{
								background-color:$color_light_pink;
							}
						}
					}
					&:first-child,
					&:nth-child(2){
						&:after{
							@include icons-sprite(Arrow_menu);
							position:absolute;
							content:'';
							top:40px;
							right:-20px;
						}
					}
				}
			}
		}
		&:hover{
			.shop__list__item__link{
				color:$color_main_pink;
			}
		}
	}
}