.home-slider {
  position: relative;
  &__picture{
    width:100%;
  }
  &__content{
    height:594px;
    background-size:cover;
  }
  .slick-dots {
    @include absolute($right: 0, $bottom: 50px, $left: 0);
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center; 

    li {
      display: inline-block;
      vertical-align: middle;

      button {
        width: 22px;
        height: 22px;
        padding: 0;
        font-size: 0;
        color: transparent;
        line-height: 0;
        background-color: $color_extra_light_border;
        border: 1px solid $color_gradient2;
        @include border-radius(100%);
      }

      + li {
        margin-left: 20px;
      }

      &.slick-active {
        button {
          background-color: $color_main_pink;
        }
      }
    }

    @media(max-width: 991px) {
      bottom: 20px;
    }
  }

  .slick-arrow {
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 0;
    color: transparent;
    background-color: transparent;
    line-height: 0;
    z-index: 3;

    &:active {
      background-color: transparent;
    }

    &:before {
      display: none;
    }

    &.slick-next {
      right: 50px;
      @include icons-sprite(slide-arrow-right);

      @media(max-width: 766px) {
        right: 10px;
      }
    }

    &.slick-prev {
      left: 50px;
      right: auto;
      @include icons-sprite(slide-arrow-left);

      @media(max-width: 766px) {
        left: 10px;
      }
    }
  }

  @media(max-width: 766px) {
    margin-top: 20px;
  }
}