html, body{
	height:100%;
}
body{
	font-family:$ubuntu;
}
.wrapper{
	min-height:100%;
	padding-bottom:301px;
	overflow: hidden;
}

.head__title{
	margin-top:0;
	border-bottom:1px solid $color_extra_light_border;
	font-weight:$font-weight-bold;
	padding-bottom: 8px;
	@include font($font-size-h1-title, $ubuntu, $color_dark_gray);
}

.head__subtitle{
	@include font($font-size-h3-title, $ubuntu, $color_dark_gray);
	border-bottom:1px solid $color_extra_light_border;
	font-weight:$font-weight-bold;
	padding-bottom: 8px;
}
.head{
	padding-top:50px;
	padding-bottom:20px;
	border-bottom:1px solid $color_dark_gray;
	margin-bottom:20px;
}

.sorting__list{
	padding-left:0;
	margin-bottom:0;
	width:100%;
	border-bottom:1px solid $color_extra_light_border;
	.sorting__list__item{
		list-style:none;
		display:inline-block;
		margin-right:20px;
		padding-bottom:10px;
		@include font($font-size-default, $segoe, $color_dark_gray);
		.chosen-container{
			display:inline-block;
			margin-left:5px;
			margin-right:5px;
			width:100px !important;
		}		
		&:last-child{
			margin-right:0;
			.chosen-container{
				width:70px !important;
			}
		}
	}
}

.block__or{
	text-align:center;
	position:relative;
	width:100%;
	.block__or__text{
		display:inline-block;
		padding:10px;			
		background:$color_thin_gray;
		text-align:center;
		text-transform:uppercase;
		z-index: 2;
		position: relative;			
		@include border-radius(100%);
		@include font($font-size-default, $segoe, $color_sign_or);
	}
	&:before{
		display: block;
		content: "";
		width: 100%;
		border-top: 1px solid $color_border_sign;
		position: relative;
		top: 21px;
		right: 0;
	}
}
img{
	max-width:100%;
}

.page {
  &-title {
	margin: 0;
	font-family: $ubuntu;
	font-weight: 600;

	+ p {
	  margin-top: 10px;
	}
  }

  &-text {
	font-family: $segoe;
  }
}

.thank__block{
	text-align:center;
	padding-top:30px;
	padding-bottom:30px;
	.thank__block__title{
		color:$color_dark_gray;
		font-size:$font-size-h1-title;
		font-family:$ubuntu;
	}
	.thank__block__text{
		color:$color_dark_gray;
		font-size:$font-size-h6-title;
	}
	.thank__block__red-text{
		margin-top:20px;
		color:$color_main_pink;
		font-size:$font-size-h6-title;
	}
	.product__share__text{
		margin-top:20px;
	}
}

.contact__title{
	@include font($font-size-h4-title, $ubuntu, $color_main_pink);
	position:relative;
	span{
		position:relative;
		padding-left:10px;
		padding-right:10px;
		top:0;
		z-index:2;
		background-color:$color_white;
	}
	&:before{
		width:15px;
		height:1px;
		background-color:$color_contact_title;
		position:absolute;
		top:12px;
		left:-15px;
		content:'';
		z-index:1;
	}
	&:after{
		width:100%;
		height:1px;
		background-color:$color_contact_title;
		position:absolute;
		top:12px;
		left:0px;
		content:'';
		z-index:1;
	}
}

.password__settings{
	margin-bottom:80px;
}