$month-posts_height: 40px;
$month-posts-btn_size: $month-posts_height;

.month-posts {
  position: relative;
  margin-top: 35px;

  &__header {
    margin-bottom: 20px;
    height: $month-posts_height;
    background-color: $color_remove_checkout;
  }

  &__title {
    margin: 0;
    font-size: $font-size-strong;
    font-weight: 600;
    color: #FFFFFF;
    line-height: $month-posts_height;
    text-align: center;
  }

  &__post {
    display: table;
    table-layout: fixed;
    width: 100%;

    &__img-box,
    &__content {
      display: table-cell;
      vertical-align: middle;
    }

    &__img-box {
      width: 70px;

      img {
        width: 100%;
      }
    }

    &__content {
      padding-left: 12px;
    }

    &__date,
    &__title {
      display: block;
      font-family: $segoe;
      font-size: $font-size-default;
      color: $color_dark_gray;
      line-height: 1;
    }

    &__title {
      margin-bottom: 8px;
      font-weight: 600;
    }

    &:not(:first-child) {
      border-top: 1px solid $color_extra_light_border;
    }

    &:hover {
      background-color: $color_extra_light_border;
      text-decoration: none;
    }

    &:focus {
      outline: 0;
    }
  }

  .slick-arrow {
    width: $month-posts-btn_size;
    height: $month-posts-btn_size;
    top: 0;
    font-size: 0;
    color: transparent;
    line-height: 0;
    background-color: $color_remove_checkout;
    z-index:50;

    &.slick-next {
      right: 0;
      border-left: 1px solid #404040;
    }
    &.slick-prev {
      left: 0;
      border-right: 1px solid #404040;
    }

    &:before {
      font-size: 14px;
      color: #FFFFFF;
    }

    &:hover {
      background-color: $color_main_pink;
    }
  }

  &__link-wrap {
    padding: 15px 0 5px;
    text-align: center;
  }

  &__link {
    font-family: $segoe;
    font-size: $font-size-default;
    color: $color_main_pink;

    &:hover {
      color: $color_main_pink;
    }
  }

  @media(max-width: 991px) and (min-width:768px){
    //width:50%;
    //padding-left:10px;
    //float:right;
    margin-left:52%;
  }

  @media(max-width: 590px) {
    margin-left: 0;
  }
}

[data-date]{
  padding-top:50px;
  position:relative;
  &:before{
    position:absolute;
    top:0;
    left:0;
    right:0;
    background-color:$color_remove_checkout;
    content:attr(data-date);
    font-size:$font-size-strong;
    line-height:40px;
    width:100%;
    text-align:center;
    color:$color_white;
    font-family:$segoe;
    font-weight:$font-weight-bold;
    z-index:1;
  }
}