$dot-size: 8px;
$number_size: 35px;

.page-content {
  margin-top: 25px;

  &--m0 {
    margin-top: 0;
  }

  &__block {
    display: block;
  }

  &__row {
    padding: 28px 0;
    border-top: 1px solid #DEE2E7;

    &--bp0 {
      border: 0;
      padding-top: 0;
    }

    .page-content__row {
      &:last-child {
        padding-bottom: 0;
      }
    }

    .page-title {
      margin-bottom: 10px;
    }
  }

  &__title {
    margin: 0 0 13px;
    font-family: $ubuntu;
    font-weight: 600;

    &--has-dot {
      position: relative;
      padding-left: 18px;

      &:before {
        content: "";
        @include absolute($top: 0, $bottom: 0, $left: 0);
        width: $dot-size;
        height: $dot-size;
        background-color: $color_main_pink;
        margin: auto;
        @include border-radius($dot-size / 2);
      }
    }
  }

  p {
    margin: 0;
    font-family: $segoe;

    > strong {
      font-family: $ubuntu;
    }

    + p {
      margin-top: 21px;
    }

    a {
      color: $color_main_pink;
    }

    + .page-content__row {
      margin-top: 28px;
    }

    + .page-title {
      margin-top: 21px;
    }
  }

  &__number {
    float: left;

    &-label {
      display: inline-block;
      width: $number_size;
      height: $number_size;
      font-family: $ubuntu;
      font-weight: 600;
      color: #FFFFFF;
      background-color: $color_main_pink;
      line-height: $number_size;
      text-align: center;
      @include border-radius(round($number_size / 2));
    }
  }

  &__container {
    margin-left: $number_size;
    padding-left: 20px;
    padding-top: 8px;

    @media(max-width: 480px) {
      padding-left: 10px;
    }
  }

  &__list {
    margin: 21px 0;
    padding: 0;
    list-style: none;

    li {
      font-family: $segoe;
      word-break: break-word;

      + li {
        margin-top: 10px;
      }
    }

    &--space {
      li {
        + li {
          margin-top: 20px;
        }
      }
    }
  }

  .address-list {
    span {
      display: block;
    }

    @media(max-width: 766px) {
      margin-bottom: 21px;
    }
  }

  .delivery-free {
    margin-top: 5px;
    color: $color_main_pink;
  }

  &__img-box {
    margin-bottom: 28px;
  }

  &__map {
    iframe {
      width: 100%;
      height: 380px;
    }
  }
}