[data-popover]{
	position:relative;
	&.active{
		[class*='btn-']{
			background-color:$color_main_pink;
			color:$color_white;
		}
	}
}

[data-set-color]{
	position:relative;	
	.remove__color{
		position:absolute;
		width:14px;
		height:14px;
		background-color:$color_main_pink;		
		right:-7px;
		bottom:-7px;
		text-align:center;
		display:none;
		line-height:$font-size-small;
		@include border-radius(100%);
		@extend %is-pointer;
		&:before{
			content:'x';
			text-align:center;
			line-height:$font-size-small;
			color:$color_white;
			font-family:$ubuntu;			
			font-size:$font-size-small;
		}
		&:hover{
			background-color:$color_error_red;
		}	
	}
	&:hover{
		.remove__color{
			display:block;
		}
	}
	&.last-color{
		.remove__color{
			display:none !important;
		}
	}
}

[data-choose-color].active{
	position:relative;
	&:after{
		content:'\2714';
		color:$color_main_pink;
		position:absolute;
		top:2px;
		left:6px;
	}
}

[data-toggle-popover]{
	position:absolute;
	border:1px solid $color_input_border;
	background-color:$color_white;
	display:none;
	z-index:500;
	@include box-shadow(0 0 20px rgba(0,0,0,0.2));
	@include border-radius(4px);	
	&.popover__left,
	&.popover__right{
		max-height:252px;
		&:before, &:after{
			position:absolute;
			content:'';
			top:50%;
		}
		&:before{
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			margin-top:-10px;
			z-index:2;
		}
		&:after{
			border-top: 11px solid transparent;
			border-bottom: 11px solid transparent;
			margin-top:-11px;
			z-index:1;
		}
	}
	
	&.popover__left{
		left:-45px;
		&:before{			
			border-left: 10px solid $color_white;
			right:-10px;			
		}
		&:after{			
			border-left: 11px solid $color_input_border;
			right:-11px;			
		}
	}
	&.popover__right{
		right:-55px;
		&:before{
			border-right: 10px solid $color_white;
			left:-10px;
		}
		&:after{
			border-right: 11px solid $color_input_border;
			left:-11px;
		}
	}
	&.popover__top{
		top:110% !important;
		width:200px;
		left:0;
		&:before, &:after{
			position:absolute;
			content:'';
			left:10px;
		}
		&:before{
			border: 10px solid transparent;	
			border-bottom: 10px solid $color_white;
			margin-left:-5px;
			top:-20px;
			z-index:2;
		}
		&:after{
			border: 11px solid transparent;	
			border-bottom: 11px solid $color_input_border;
			margin-left:-5px;
			top:-22px;
			z-index:1;
		}
	}
}

.configurator__choose__color{
	border:none;
	background:none;
}

.popover__modal{
	width:800px;
	left:-790px !important;
	padding:20px;
	z-index:1000;
	margin-top:-20px;
	max-height:none !important;
	.popover__modal__content{
		overflow-x:hidden;
		max-height:600px;
		overflow-y:auto;
	}
}

.popover{	
	padding:5px 0 5px 5px ;	
	&__color{
		float:right;
		width:30px;
		display:none;
		&:first-child{
			display:block;
		}
		&.show__color{
			display:block;
		}		
	}
	&__block{
		padding:2px;
		display:block;
		margin-right:5px;	
		border:1px solid $color_input_border;
		margin-bottom:5px;
		@extend %is-pointer;
		&:hover{
			@include transform(scale(1.02));
		}
		&:last-child{
			margin-bottom:0;
		}	
		&.active{
			border:1px solid $color_main_pink;
		}
		&__color{
			width:19px;
			height:19px;
			display:block;		
		}
		&.last__block__color{
			display:block;
			.popover__block__color{									
				background-image:url('../images/background/more_color.png');
				background-size:cover;
			}
		}
	}
}