.post {
  position: relative;

  &-item {
    margin-top: 50px;
  }

  &__img-box {
    position: relative;
    img {
      width: 100%;
    }
    &:not(.big__post-img){
      max-height:230px;
      overflow:hidden;
    }
  }

  &__content {
    margin-top: 16px;
    text-align: center;

    &__category,
    &__date {
      display: block;
    }

    &__category {
      font-family: $segoe;
      font-size: $font-size-default;
      color: $color_subtitle_gray;
    }

    &__title,
    &__title__main {
      margin: 9px 0 8px;
      font-family: $ubuntu;
      font-size: $font-size-h5-title;
      font-weight: 600;
      color: $color_dark_gray;
    }

    &__title{
      @media all and (min-width:1200px){
        width:400px;
        margin-left:auto;
        margin-right:auto;
      }
      @media all and (max-width:1199px) and (min-width:992px){
         width:290px;
      }
      @media all and (max-width:991px) and (min-width:768px){
        width:345px;
      }
      @media all and (min-width:768px){
        @include truncate();
      }
    }

    &__text,
    &__date {
      font-family: $segoe;
      font-size: $font-size-default;
      color: $color_dark_gray;
    }

    &__text {
      margin: 11px 0 0;
      height:60px;
      overflow:hidden;
    }

    &__btn {
      margin-top: 27px;
    }
  }

  &__banner {
    position: relative;
    &__text-box {
      @include absolute($top: 0, $right: 0, $bottom: 0, $left: 0);
      margin: auto;
      height: 130px;
      background-color: $color_main_pink;
      text-align: center;
    }

    &__text {
      margin: 17px 0;
      padding: 0 10px;
      font-size: 18px;
      font-weight: 600;
      color: #FFFFFF;
      line-height: 22px;
    }

    @media(max-width: 1199px) {
      img {
        width: 100%;
      }
    }

    @media all and (max-width:991px) and (min-width:768px){
        width:50%;
        padding-right:15px;
        float: left;
        &__text-box {
          @include absolute($top: 0, $right: 15px, $bottom: 0, $left: 0);
        }
    }
    @media all and (max-width:767px){
      max-height: 350px;
      overflow: hidden;
      margin-top:30px;
    }

    @media(max-width: 590px) {
      float: none;
      margin-top: 30px;
    }
  }

  &__slider {
    position: relative;

    .slick-dots {
      @include absolute($right: 0, $bottom: 30px, $left: 0);
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;

      li {
        display: inline-block;
        vertical-align: middle;

        button {
          display: block;
          width: 12px;
          height: 12px;
          padding: 0;
          font-size: 0;
          color: transparent;
          line-height: 0;
          border: 0;
          background-color: $color_remove_checkout;
          @include opacity(0.3);
          @include border-radius(100%);
        }

        + li {
          margin-left: 5px;
        }

        &.slick-active {
          button {
            @include opacity(1);
          }
        }
      }

      @media(max-width: 766px) {
        bottom: 5px;
      }
    }
  }

  &__social {
    width: 32px;
    @include absolute($top: 0, $left: -54px);
    border: 1px solid $color_remove_checkout;

    &__item {
      &:not(:first-child) {
        border-top: 1px solid $color_remove_checkout;

        @media(max-width: 1270px) {
          border-top: 0;
          border-left: 1px solid $color_remove_checkout;
        }
      }

      &__link {
        display: block;
        height: 32px;
        font-size: $font-size-default;
        color: $color_remove_checkout;
        background-color: #FFFFFF;
        line-height: 32px;
        text-align: center;

        &:hover {
          background-color: $color_remove_checkout;
          color: #FFFFFF;
        }
      }

      @media(max-width: 1270px) {
        float: left;
        width: 32px;
      }
    }

    &__title {
      display: block;
      padding: 2px 0 3px;
      font-family: $segoe;
      font-size: 10px;
      color: #FFFFFF;
      background-color: $color_remove_checkout;
      text-align: center;

      @media(max-width: 1270px) {
        float: left;
        width: 32px;
        height: 32px;
        padding: 0;
        line-height: 30px;
      }
    }

    &[data-affix] {
      &.stick {
        width: 32px;
        left: auto;
        margin-left: -54px;

        @media(max-width: 1270px) {
          position: static;
          margin-left: 0;
          width: auto;
        }
      }
    }

    @media(max-width: 1270px) {
      position: static;
      display: inline-block;
      margin-top: 40px;
      width: auto;
      @include clearfix;
    }
  }
}