.profile__design{
	border:1px solid $color_profile_border;
	height:270px;
	overflow:hidden;
	position:relative;
	margin-top:20px;
	display:block;
	@include transition(.3s ease);
	.profile__design__remove,
	.profile__design__trash{
		position:absolute;
		top:10px;
		padding:2px 5px;
		background-color:$color_profile_button_bg;
		font-size:$font-size-h6-title;
		color:$color_black;
		border:none;
		@include border-radius(0);
		&:hover, &:focus, &:focus:active{
			background-color:$color_profile_button_bg_hover;
			color:$color_main_pink;
		}
	}
	.profile__design__remove{
		right:35px;
	}
	.profile__design__trash{
		right:10px;
	}
	.profile__design__picture{
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		margin:auto;
	}
	.profile__design__price{
		position:absolute;
		display:inline-block;
		bottom:0;
		left:0;
		padding:5px 10px;
		margin-bottom:0;
		background-color:$color_thin_gray;
		@include font($font-size-h4-title, $ubuntu, $color_dark_gray);
	}
	&:hover{
		@include transform(scale(1.05));		
	}
}

.order__table{
	width:100%;
	thead{
		border-top:1px solid $color_light_gray;
		tr{
			th{
				padding:10px;
				@include font($font-size-default, $segoe, $color_checkbox_label);
			}
		}
	}
	tbody{
		tr{
			td{
				padding:10px;
				vertical-align:top;
				@include font($font-size-h6-title, $segoe, $color_dark_gray);
				.order__pending{
					color:$color_pending;
				}
				.order__completed{
					color:$color_completed;
				}
				.order__cancelled{
					color:$color_cancelled;
				}
				.order__link{
					color:$color_main_pink;
					@include condition-block{
						text-decoration:none;
						color:lighten($color_main_pink, 10%);
					}
				}
				span{
					display:block;
				}
			}
			&:nth-child(even){
				background-color:$color_opacity_gray;
			}
		}
	}
}

.total__block{
	padding:20px;
	background-color:$color_thin_gray;
	.total__block__text{
		@include font($font-size-h5-title, $segoe, $color_dark_gray);
		margin-bottom:0;
		font-weight:$font-weight-bold;
		[class*='icon-']{
			position:relative;
			top:5px;
		}
	}
}

.review{
	margin-top:20px;
	border-bottom:1px solid $color_extra_light_border;
	padding-bottom:20px;
	.review__picture{
		border:1px solid $color_profile_border;
		overflow:hidden;
		height:100px;
		position:relative;
		margin-bottom:20px;		
		.review__picture__block{
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			margin:auto;
		}
	}
	.review__title{
		@include font($font-size-h4-title, $segoe, $color_dark_gray);
		font-weight:$font-weight-bold;
	}
	.review__text{
		@include font($font-size-h6-title, $segoe, $color_dark_gray);
	}
	.review__mark{
		@include font($font-size-h6-title, $ubuntu, $color_subtitle_gray);
	}
	.review__label{
		@include font($font-size-h6-title, $segoe, $color_title_gray);
		margin-bottom:10px;
	}
	&:last-child{
		margin-bottom:20px;	
		padding-bottom:0;
		border-bottom:none;	
	}
}

.inform{
	padding:20px;
	margin-top:20px;
	border:1px solid $color_extra_light_border;
	.inform__block{
		float:left;
		width:25%;
		text-align:center;
		border-right:1px solid $color_extra_light_border;
		&:last-child{
			border-right:none;
		}
	}
	.inform__block__title{
		@include font($font-size-h1-title, $ubuntu, $color_dark_gray);
	}
	.inform__block__text{
		@include font($font-size-h6-title, $segoe, $color_title_gray);
	}
}
.chart__list{
	float:right;
	margin-top:10px;
	.chart__list__item{
		display:inline-block;
		.chart__list__item__link{
			display:block;
			padding:10px 20px;
			background-color:$color_thin_gray;
			text-transform:uppercase;
			@include font($font-size-xs, $segoe, $color_dark_gray);
		}
		&.active, &:hover, &:focus:active, &:focus, &:active{
			.chart__list__item__link{
				background-color:$color_main_pink;
				text-decoration: none;
				color:$color_white;
			}
		}
	}
}

.address{
	padding:20px;
	border:1px solid $color_extra_light_border;
	position:relative;
	margin-top:20px;
	&:first-child{
		margin-top:10px;
	}
}

.download__list{
	padding-left:0;
	position:relative;
	.download__list__item{
		list-style:none;
		float:left;
		width:25%;
		text-align:center;
		padding-top:20px;
		padding-bottom:20px;
		position:relative;
		@include font($font-size-h6-title, $segoe, $color_subtitle_gray);
		.fa{
			display:none;
		}
		&:after{
			position:absolute;
			content:'';
			height:6px;
			right:0;
			bottom:0;
			left:0;
			background-color:$color_thin_gray;
		}
		&:first-child{
			&:after{
				@include border-radius(6px 0 0 6px);
			}
		}
		&:last-child{
			&:after{
				@include border-radius(0 6px 6px 0);
			}
		}		
		&.active{
			@include font($font-size-h6-title, $segoe, $color_dark_gray);
			&:after{
				background-color:$color_main_pink;
				@include border-radius(6px);
			}
			+ li.active {
				&:after{
					left:-5px;
				}
			}
		}
		&.done-success{
			.fa{
				display:inline-block;
				color:$color_main_pink;
			}
			color:$color_light_pink;
		}
	}
}

.upload__gallery{
	height:430px;
	position:relative;
	overflow:hidden;
	background-color:$color_thin_gray;	
	.upload__gallery__picture{
		margin:auto;
		top:0;
		left:0;
		right:0;
		bottom:0;
		position:absolute;
	}
}
.block__upload{
	margin-bottom:20px;
	margin-top:20px;
	.btn__primary{
		//margin-bottom:0;
	}
}
.upload__title{
	@include font($font-size-h3-title, $ubuntu, $color_dark_gray);
}
.upload__text{
	@include font($font-size-h6-title, $ubuntu, $color_dark_gray);
}