.product__picture{
	height:515px;
	overflow:hidden;
	position:relative;
	border:1px solid $color_extra_light_border;
	padding-top:20px;
	.product__picture__link{
		display:block;
		position:absolute;
		top:10px;
		left:10px;
		z-index:1;
		@include font($font-size-default, $segoe, $color_main_pink);
		@include condition-block{
			text-decoration:none;
			color:lighten($color_main_pink, 10%);
		}
		.fa{
			margin-right:5px;
		}
	}
	.product__picture__image{
		position:absolute;
		top:20px;
		left:0;
		right:0;
		bottom:0;
		margin:auto;
		max-width: 100%;
	}
	&:hover{
		cursor:move;
		.product__picture__image{
			opacity:0;
		}
	}
}

.carous__list{
	padding-left:0;
	position:absolute;
	top:10px;
	left:0;
	.carous__list__item{
		list-style:none;
		margin-left:5px;
		display:inline-block;
		.carous__list__item__picture{
			width:82px;
			height:86px;
			border:1px solid $color_extra_light_border;
			padding:5px;
		}
		&:last-child{
			margin-right:5px;
		}
		&:hover{
			cursor:pointer;
		}
		&.active{
			.carous__list__item__picture{
				border:1px solid $color_light_pink;
			}
		}
	}
}

.carous__block{
	width:100%;
	overflow:hidden;
	padding-left:20px;
	padding-right:20px;
	position:relative;
	.carous-thumbnails{
		position:relative;
		height:100px;
		overflow:hidden;
	}
	.carous-btn{
		background-color:$color_white;
		border:none;
		height:110px;
		position:absolute;
		top:0;
		bottom:0;
		&.carous-prev{
			left:0;
		}
		&.carous-next{
			right:0;
		}
	}
}

.product__title{
	@include font($font-size-h1-title, $ubuntu, $color_dark_gray);
	margin-top:0;	
}

.product__author{
	padding-bottom:20px;
	margin-top:15px;
	margin-bottom:20px;
	border-bottom:1px solid $color_extra_light_border;
	.product__author__avatar{
		width:45px;
		height:45px;
		@include border-radius(100%);
		float:left;
		margin-right:10px;
	}
	.product__author__text{
		@include font($font-size-h6-title, $segoe, $color_title_gray);
		margin-bottom:0;
		.product__author__link{
			@include font($font-size-default, $segoe, $color_main_pink);
			@include condition-block{
				text-decoration:none;
				color:lighten($color_main_pink, 10%);
			}
		}
	}
}

.product__price{
	@include font($font-size-h2-title, $ubuntu, $color_dark_gray);
	margin-bottom:0;
}

.product__availability{
	@include font($font-size-default, $segoe, $color_subtitle_gray);
	margin-bottom:0;
}

.product__required{
	@include font($font-size-default, $segoe, $color_required);
	margin-bottom:0;
}

.product__available__date{
	color:$color_main_pink;
}

.product__shipping__title{
	margin-top:20px;
}

.product__shipping__text{
	font-size:$font-size-default;
}

.product__subtitle{
	@include font($font-size-default, $segoe, $color_dark_gray);
	padding-top:15px;
	padding-bottom:15px;
	margin-bottom:0;
	.product__subtitle__link{
		@include font($font-size-default, $segoe, $color_main_pink);
		@include condition-block{
			text-decoration:none;
			color:lighten($color_main_pink, 10%);
		}
	}
}

.product__add_to_cart{
	float:right;	
	padding:10px 20px;
	text-align:center;
	border:none;
	background-color:$color_main_pink;
	position:relative;
	top:5px;
	@include font($font-size-h4-title, $segoe, $color_white);	
	@include condition-block{
		text-decoration:none;
		color:$color-white;
		background-color:darken($color_main_pink, 10%);
		@include transition(all 0.3s ease);
	}
}



.product__share{
	margin-top:30px;
	padding-top:10px;
	border-top:1px solid $color_extra_light_border;
	.product__share__text{
		@include font($font-size-h6-title, $segoe, $color_dark_gray);	
		&.social__text{
			padding-right: 5px;
   			display: inline;
    		vertical-align: middle;
		}
	}
	[class*='icon-']{		
		margin-left:5px;
	}
	.product__share__link{
		@include font($font-size-h6-title, $segoe, $color_title_gray);
		position:relative;
		top:10px;
		@include condition-block{
			text-decoration:none;
			color:$color_main_pink;
		}
	}
}

.share__list{
	padding-left:0;
	min-width:60%;	
	display:inline-block;
	margin-bottom:0;
	vertical-align:middle;
	.share__list__item{
		list-style:none;
		display:inline-block;
		.share__list__item__link{
			display:block;
		}
	}
}

.product__tabs{
	padding-left:0;
	margin-top:30px;
	position:relative;
	z-index:1;
	margin-bottom:0;
	.product__tabs__item{
		padding:0;
		display:inline-block;		
		.product__tabs__item__link{
			text-align:left;
			padding:10px;
			display:block;
			position:relative;
			background-color:$color_size_bg;
			border-top:1px solid $color_size_bg;
			border-left:1px solid $color_size_bg;			
			border-right:1px solid $color_size_bg;
			@include font($font-size-default, $segoe, $color_dark_gray);
			&:hover{
				text-decoration: none;
				background-color:$color_white;
			}
		}
		&.active, &:focus, &:active, &:focus:active{
			@include box-shadow(none);			
		} 
		&.active{
			.product__tabs__item__link{
				background-color:$color_white;	
				position:relative;
				z-index:2;
				color:$color_black;
				margin-bottom: -1px;
				text-decoration: none;
				border-top:1px solid $color_main_pink;
				border-left:1px solid $color_main_pink;
				border-right:1px solid $color_main_pink;
				border-bottom:1px solid $color_white;
			}
		}
	}
}

.product__text{
	@include font($font-size-h6-title, $segoe, $color_dark_gray);
	text-align:justify;
}

.product__tab__content{
	border-top:1px solid $color_main_pink;
	padding-top:20px;
	padding-bottom:20px;
}

.product__list{
	padding-left:20px;
	.product__list__item{
		@include font($font-size-h6-title, $segoe, $color_dark_gray);
		text-align:justify;
	}
}

.product__content__title{
	padding-bottom:10px;
	border-bottom:1px solid $color_extra_light_border;
	.product__content__subtitle{
		display:block;
		margin-top:10px;
		@include font($font-size-default, $segoe, $color_title_gray);
	}
}
.product__table{
	width:100%;
	tbody{
		tr{
			td{
				padding:10px;
				@include font($font-size-h6-title, $segoe, $color_dark_gray);
				&:first-child{
					font-weight:$font-weight-bold;
					width:40%;
					border-right:1px solid $color_extra_light_border;
				}
			}
			&:nth-child(even){
				background-color:$color_size_bg;
			}
		}	
	}
}

.product__review{
	padding:20px;	
	&:nth-child(odd){
		background-color:$color_opacity_gray;
	}
	&:last-child{
		border-bottom:1px solid $color_extra_light_border;		
	}
	.product__review__settings{
		width:20%;
		float:left;
		.product__review__name{
			@include font($font-size-h6-title, $segoe, $color_title_gray);
			font-weight:$font-weight-semibold;
		}
		&:last-child{
			float:right;
			text-align:right;
		}
	}
	.product__review__content{
		float:left;
		width:60%;
		.product__review__text{
			text-align:justify;
			@include font($font-size-lg, $segoe, $color_review_text);
			&:last-child{
				margin-bottom:0;
			}
		}		
	}	
}

.product__tags{
	padding-left:0;
	margin-top:20px;
	.product__tags__item{
		list-style:none;
		display:inline-block;
		margin-right:10px;
		.product__tags__item__link{
			display:block;
			padding:5px 10px;
			background-color:$color_main_pink;
			@include font($font-size-h6-title, $segoe, $color_white);
			@include condition-block{
				color:$color_white;
				text-decoration:none;
				background-color:lighten($color_main_pink, 10%);
			}
		}
	}
}

.product__size{
	width:100%;
	thead{
		tr{
			border-top:1px solid $color_extra_light_border;
			border-bottom:1px solid $color_extra_light_border;
			background-color:$color_size_bg;
			th{
				padding:10px;
				font-weight:$font-weight-bold;
				@include font($font-size-h6-title, $segoe, $color_dark_gray);				
			}
		}
	}
	tbody{
		tr{
			td{
				padding:10px;
				text-align:center;
				@include font($font-size-h6-title, $segoe, $color_dark_gray);	
			}
			&:nth-child(even){
				background-color:lighten($color_size_bg, 2%);
			}
		}
	}
}

.product__condition{
	margin-bottom:10px;
	.product__condition__text{
		margin-left:52px;
		@include font($font-size-h6-title, $segoe, $color_dark_gray);	
	}
	&:last-child{
		padding-bottom:30px;
		border-bottom:1px solid $color_extra_light_border;
	}
}
.credit-card {
    position: relative;
    height: 350px;
}