.quantity{
	float:left;
	padding-top: 10px;
	.quantity__text{
		@include font($font-size-strong, $segoe, $color_dark_gray);		
		padding-top:5px;
		float:left;
		margin-right:5px;
		margin-bottom:0;
	}
	.quantity__block{		
		.quantity__decrement, .quantity__increment{
			height:34px;
			background-color:$color_size_bg;
			border:none;
			width:auto;
			float:left;
			border:1px solid $color_input_border;	
			font-weight:$font-weight-bold;
			@include font($font-size-h5-title, $segoe, $color_subtitle_gray);	
			@include box-shadow(none);			
			@include condition-block{
				outline:none;
			}
			&:disabled{
				background-color:lighten($color_size_bg, 10%);
				color:lighten($color_subtitle_gray, 10%);
			}
			&:active{
				background-color:darken($color_size_bg, 10%);
			}
		}
		.quantity__control{
			width:50px;
			text-align:center;
			height:34px;
			border:none;
			float:left;
			border-top:1px solid $color_input_border;
			border-bottom:1px solid $color_input_border;	
		}
	}

	&.configurate__quantity{
		float:none;
		padding-top:0;
	}
}