.quote {
  position: relative;
  margin: 40px 0;
  padding: 50px 15px;
  background-color: #F0F2F3;

  &__text {
    margin: 0;
    font-family: $segoe;
    font-size: 20px;
    font-style: italic;
    color: $color_dark_gray;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
  }

  &:before {
    top: 20px;
    left: 20px;
    @include icons-sprite(quote-top);
  }
  &:after {
    right: 20px;
    bottom: 20px;
    @include icons-sprite(quote-bottom);
  }
}