.rating__box{
    margin-bottom:20px;
}
.rating{
    overflow: hidden;
    font-size: 0;
    position: relative;  
    display:table;
    margin-bottom:10px;
    width:100%;
    table-layout:fixed;
    .rating__label{
        display:table-cell;
        padding-right:20px;
        width:25%;
    }
    .rating__content{
        display:table-cell;
        vertical-align: middle;
    }
    .rating__star{
        position: relative;
        margin-top:2px;
        margin-right: 5px;
        float: right;
        display: block;
        margin-bottom:0;
        @include icons-sprite(Star);
        &:hover, 
        &:hover ~ .rating__star{
            @include icons-sprite(Star-Gold);
        }
    }
    .rating__control{
        float: right;
        margin-top:2px;
        width: 16px;
        height: 16px;
        padding: 0;
        margin-left: -16px;
        opacity: 0;
        &:checked ~ .rating__star{
             @include icons-sprite(Star-Gold);
        }
    }
    .rating__control:checked ~ .rating__star{
        @include icons-sprite(Star-Gold);
    }
    .rating__text{
        display:inline-block;
        margin-left:10px;
        @include font($font-size-default, $segoe, $color_dark_gray);
    }
}