@media all and (min-width:1500px){
	.slider{
	  width:80%;
	}
}

@media all and (min-width:1200px) and (max-width:1500px){
	.slider{
		width:90%;
	}
}

@media all and (min-width:1200px){
	[data-affix].stick{
		width:360px;
	}
	.logo__block{
		float:left;
	}
	.sign__list{
		margin-left:250px;
	}
	.menu__block{
		width:34%;
	}
	.shop__list{
		margin-top:5px;
	}
	.sign__list{
		display:table-cell;
		white-space: nowrap;
		padding-left: 20px;
		vertical-align:top;
		.sign__list__item{
			display: table-cell;
    		white-space: nowrap;
    		.sign__list__item__link{
    			padding-left: 10px;
    			padding-right:10px;
    		}
		}
	}
}

@media all and (max-width:1199px){
	.product__tabs{
		.product__tabs__item{	
			width:100%;
			.product__tabs__item__link{
				text-align:center;
			}
			&.active{
				.product__tabs__item__link{
					border-bottom:1px solid $color_main_pink;
				}
			}
		}
	}
	.shop__list{
		margin-left:0;
		margin-top:50px;
		position:relative;
		.shop__list__item {
			.shop__list__submenu{
				top:46px;
			}
		}
	}
	.head{
		padding-bottom:0;
	}
}

@media all and (max-width:1199px) and (min-width:992px){
	[data-affix].stick{
		width:295px;
	}
	.logo__block{
		width:25%;
		float:left;	
	}
	.head__search{
		margin-left:33.33333%;
		width:33.33333%;
	}
	.sign__list{
		width:33.33333%;
		float:right;		
	}
	.main__menu{
		clear:both;
	}
	.product__add_to_cart{
		float:none;
		margin-top:5px;
	}
	.product__block{
		.quantity{
			float:none;
		}
	}
	.shop__list .shop__list__item .shop__submenu{
		top:45px;
	}
}

@media all and (min-width:992px){
	.form-group.form-search, .shop__list{
		display:block !important;
	}
	.configurator__aside{
		&__item{
			&__link{
				[class*='icon-']{
					display:none;
				}
			}
		}
	}
}

@media all and (max-width:992px){
	.upload__content{
		.btn__primary{
			float:left;
		}
		.btn__default{
			float:right;
		}
	}
	.order__completed{
		display:inline-block !important;
	}
	.home-slider {
		&__content{
			height:436px;
		}
	}
	.product__gallery{
		margin-bottom:30px;
	}
	.carous-slides{
		position:relative;
		&:after{
			width:100%;
			height:515px;
			z-index: 99999999;
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: auto;
			background-color: rgba(255,255,255, 0);
			zoom: 1;
		}
	}
	.popover__modal{
		width:100%;
		left:0 !important;
		&:before, &:after{
			border:none !important;
		}
	}
	[data-affix].stick{
		position:static;
	}
	.sell__more{
		margin-top:0;
	}
	.sign__list{
		width:100%;
		text-align:center;
		background-color:$color_thin_gray;
		margin-top:20px;
		padding-top:10px;
		padding-bottom:10px;
		margin-bottom:-10px;
		&.views-selection{
			background:none;
		}
	}
	.create__menu{
		margin-top:0;
	}
	.configurator__aside{
		width:100%;
		float:none;
		display:table;
		border-spacing:0;
		width:100%;
		&__item{
			display:table-cell;
			vertical-align:top;
			padding:0;
			&__link{
				display:block;
				height:50px;
				position:relative;
				text-align:center;
				[class*='icon-']{
					display:block;
					position:absolute;
					top:0;
					left:0;
					right:0;
					bottom:0;
					margin:auto;
				}
				span{
					display:none;
				}
			}
			&.is-border{
				padding-bottom:0;
				&:after{
					width:0;
				}
			}
		}
	}
	.configurator__settings{
		position:static;
		width:100%;
		float:none;
	}
	.configurator__list{
		display:none;
	}
	.configurator__content{
		margin-left:0;
		margin-right:0;
		width:100%;
		text-align:center;
		.canvas-container{
			margin:0 auto;
		}
	}
	.download__list {
		.download__list__item{
			float:none;
			width:100%;
		}
	}
	.dropzone{
		.dropzone__content{
			width:80%;
		}
	}
	.p-tb50{
		padding-top:20px;
		padding-bottom:40px;
	}
	.btn-menu, .btn-search{
		display:block;
	}
	.logo{
		text-align:center;
		display:block;
		line-height:1;
		margin: 0 auto;
   		top: 0;
    	height: 50px;
    	position:relative;
    	margin-top:-45px;
    	.logo__picture{
    		height:45px;
    		top:2px;
    		position:relative;
    	}
	}
	.product__preview.wishlist__block .product__preview__label{
		text-align:center;
	}
	.head{
		.form-group{
			&.form-search{
				display:none;
				position: absolute;
				z-index:1;
				top: -40px;
				right: 50px;
				width: 100%;
				padding-left: 120px;
				.form-control{
					height:auto;
					padding: 8px;
					padding-right:40px;
				}
				.control__search{
					right:10px;
				}
			}
		}
	}
	
	.shop__list{
		display:none;
		.shop__list__item{
			display:block;
			width:100%;
			.shop__list__item__link{
				position:relative;
				text-transform: uppercase;
				padding:10px 0 10px 10px;
				margin-right:0;
				.fa{
					position:absolute;
					right:10px;
					top:10px;
				}
				&.active{
					background-color:$color_thin_gray;
					color:$color_main_pink;
					&:after{
						height:0;
					}
				}
			}
			.shop__submenu{
				position:static;
				background-color:$color_white;
				&:after, &:before{
					background-color:$color_white;
				}
				.shop__list__submenu{
					width:100%;
					display:block;
					@include box-shadow(none);
					.shop__list__submenu__item{
						display:block;
						width:100%;
						span{
							display:none;
						}
						.shop__list__submenu__item__link{
							padding-left:10px;
							//text-align:left;
							[class*='icon-']{
								display:none;
							}
						}
					}
					&.is-border{
						border-left:none;
						padding-left:0;
					}
					&.sell__submenu{
						.shop__list__submenu__item{
							width:100%;
							&:last-child{
								.shop__list__submenu__item__link{
									top: 0px;
									margin-bottom:10px;
								}
							}
							&:first-child,
							&:nth-child(2){
								&:after{
									background:none;
								}
							}
						}
					}
				}
			}
		}
	}

	.responsive__table{
		thead{
			display:none;
		}
		tbody{
			td{
				display: block;
			    text-align: left;
			    line-height: 100%;
			    width:100% !important;
			    border-width: 0 !important;
			    &:before {
					font-weight: bold;
					display: inline-block;
					content: attr(data-th);
					margin-right:10px;
				}
				.product__preview {
					.product__preview__picture {
						.product__preview__avatar{
							width:auto;
							height:100%;
						}
					}
				}
			}
		}
	}
	.checkout__products, .cart {
		thead{
			display:none;
		}
		tbody {
			tr {
				position:relative;
				display:block;
				td {
					display:block;
					text-align:left;
					border:none;
					&.checkout__product__image{
						float:left;
						width:50%;
					}
					&.checkout__product__name{
						padding-right:20px;
					}
					&.checkout__product__qty,
					&.checkout__product__total{
						padding-top:5px;						
						&:before {
							font-weight: bold;
							display: inline-block;
							content: attr(data-th);
							margin-right:10px;
							color:$color_title_gray;
							font-size:$font-size-xs;
						}
					}					

					&.checkout__product__qty{
						float:left;
						margin-right:10px;
					}
					&.checkout__product__remove{
						position:absolute;
						top:0;
						right:0;
						padding-right:0;
					}
				}
			}
		}
	}
	.cart{
		tbody{
			tr{
				td{
					text-align:left;
					.remove__checkout {
						margin: 0;
						display: inline-block;
					}
					.quantity{
						display:inline-block;
						position:relative;
						top:10px;
						margin:0;
					}
				}
			}
		}
	}
	.product__preview {
		&.wishlist__block{
			text-align:center;
			.product__preview__price__active{
				float:none;
			}
			.remove__checkout{
				margin-left:auto;
				margin-right:auto;
			}
			.product__preview__picture {
				.product__preview__avatar{
					width:auto;
					height:100%;
				}
			}			
		}
		.product__preview__picture {
			.product__preview__avatar{
				width:auto;
				max-width:100%;
			}
		}
	}
}

@media all and (min-width:768px) and (max-width:992px){}

@media all and (min-width:768px){
	.checkout__body {
		.checkout__body__title{
			margin-top:40px;
		}
	}
	.picture-right{
		float: right; 
		margin-left: 20px; 
		height: 350px;
	}
	.picture-left{
		float: left; 
		margin-right: 20px; 
		height: 350px;
	}
	.configurator__aside__xs{
		display:none;
	}
	.sidebar{
		.sidebar__list{
			display:block !important;
		}
		.filter__block{
			.sidebar_title{
				display:none;
			}
			.row{
				display:block !important;
			}
		}

	}
	.xs-min-hidden {
	    display: none;
	}
	.credit-card {
		.card {
		    padding: 40px 30px;
		    width: 495px;
		    height: 315px;
		    float: left;
		}
		.card-front {
		    position: relative;
		    z-index: 1;
		    background: url("../images/payment/card-front.png");
		    background-size:cover;
		}
		.card-back {
			position: absolute;
			top: 30px;
			right: 0;
			padding-top: 90px;
			background: url("../images/payment/card-back.png");
			background-size:cover;
		}
		.form-label{
			color:$color_dark_gray ;
		}
	}	
}

@media all and (max-width:767px){
	.home-slider {
		&__content{
			height:333px;
		}
	}
	.checkout__body {
		.checkout__body__title{
			margin-top:20px;
		}
	}
	.credit-card{
		height:auto;
	}
	.home__content {
		.btn__default,
		.btn-post{
			width:100% !important;
			display:block;
			text-align:center;
		}
	}
	.sell__more__picture{
		float:none;
		display:block;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:20px;
	}
	.head__subtitle{
		display:none;
	}
	.btn__default, .btn__primary{
		&.m-t40{
			margin-top:0 !important;
		}
	}
	.home__content{
		img{
			float:none !important;
			margin-bottom:20px;
			display:block;
			max-height:auto;
			width:100%;
		}
	}
	/*.head__subtitle{
		font-weight:$font-weight-regular;
		font-size:$font-size-h4-title;
	}*/
	.editorbox{
		position:static;
		text-align:center;
		margin-top:20px;
	}
	.configurator__content__media__editor{
		display:none;
	}
	.sell__more{
		text-align:center;
		&__picture{
			float:none;
			margin-left:auto;
			margin-right:auto;
			margin-bottom:20px;
		}
	}
	.list__images{
		text-align:center;
	}
	.artwork{
		text-align:center;
	}
	.configurator__aside{
		display:none;
	}
	.configurator__settings{
		.configurator__create__settings{
			width:100%;
			display:block;
			margin-left:0;
			margin-right:0;
			margin-bottom:15px;
		}
		.configurator__create__settings__item{
			width:100%;
			display:block;
			margin-bottom:20px;
			&:last-child{
				margin-bottom:0;
			}
		}
	}
	.configurator__create__settings{
		.configurator__create__settings__item{
			.popover{
				&.popover__left{
					left:70%;
				}
				&.popover__right{
					right:30%;
				}
				&:before{
					border-right: 15px solid $color_white;
					border-left:none;
					left:-15px;
					right:auto;
				}
				&:after{
					border-right: 16px solid $color_input_border;
					border-left:none;
					left:-16px;
					right:auto;
				}	
			}
		}
	}
	.dropzone{
		.dropzone__content{
			width:95%;
		}
	}
	[class*="col-sm-"]{
		&.p-0{
			padding-left:15px;
			padding-right:15px;
		}
	}
	.inform {
		.inform__block{
			width:100%;
			border-bottom:1px solid $color_extra_light_border;
			&:last-child{
				border-bottom:none;
			}
		}
	}
	.sidebar{
		margin-bottom:20px;	
		.sidebar__list{
			display:none;
		}
		.sidebar_title{
			position:relative;
			&:after{
				content:"\f0dd";
				font: normal normal normal 14px/1 FontAwesome;
				position:absolute;
				top:10px;
				right:10px;
			}
			&.active{
				color:$color_main_pink;
				&:after{
					color:$color_main_pink;
					top:20px;
					@include transform(rotate(180deg));
				}
			}
		}
		.filter__block{
			.row{
				display:none;
			}
			.sidebar_title, .filter__block__title{
				position:relative;
				&:after{
					content:"\f0dd";
					font: normal normal normal 14px/1 FontAwesome;
					position:absolute;
					top:10px;
					right:10px;
				}
				&.active{
					color:$color_main_pink;
					&:after{
						color:$color_main_pink;
						top:20px;
						@include transform(rotate(180deg));
					}
				}
				&:hover{
					cursor:pointer;
				}				
			}
			.sidebar_title{
				display:block;
				padding-bottom:10px;
				border-bottom:1px solid $color_extra_light_border;
			}
			.filter__block__title{
				display:none;
			}
		}
	}
	.quantity{
		float:none;
		margin-bottom:10px;
	}
	.product__add_to_cart{
		float:none;
	}
	.sorting__list{
		.sorting__list__item{
			&:first-child, &:last-child{
				display:none;
			}
		}
	}
	.sign__block{
		padding: 20px;
	}
	.form-group{
		&.form-last-date{
			&:before{
				left:50%;
				margin-left:-7px;
				top:-25px;
			}
		}
	}
	.product__preview {
		margin-bottom:20px;
		.product__preview__picture {
			height:auto;
			.product__preview__avatar{
				width:auto;
				max-width:100%;
				position:static;
			}
		}
	}
	.product__review{
		.product__review__settings,
		.product__review__content,
		.product__review__settings{
			width:100%;
			float:none;
		}
	}
	.cart{
		& ~ .row .col-sm-6 .btn__default,
		& ~ .row .col-sm-6 .btn__primary{
			width:100%;
		}
	}
	.address{
		position:relative;
		padding:10px 15px;
		.sm-right{
			position:static;
		}
		.btn__edit,
		.btn__trash{
			top:15px;
		}
		.btn__trash{
			right:15px;
		}
		.btn__edit{
			right:40px;
		}
	}
	.copyright {
		.copyright__text{
			line-height:20px;
			margin-bottom:10px;
		}
	}
}

@media all and (max-width:480px){
	.home-slider {
		&__content{
			height:200px;
		}
	}
	.rating{
		display:block;
		.rating__label,
		.rating__content{
			display:block;
			min-width:100%;
		}
	}
	.checkout__products, .cart {
		tbody {
			tr {				
				td {
					&.checkout__product__image{
						width:160px;
					}
					&.checkout__product__name,
					&.checkout__product__qty,
					&.checkout__product__total{
						margin-left:160px;
					}
				}
			}
		}
	}
}

@media all and (max-width:400px){
	.checkout__products, .cart {
		tbody {
			tr {				
				td {
					&.checkout__product__image{
						width:80px;
					}
					&.checkout__product__name,
					&.checkout__product__qty,
					&.checkout__product__total{
						margin-left:80px;
						float:none;
						padding-top:5px;
					}
					&.checkout__product__remove{
						top:-15px;
					}
				}
			}
		}
	}
}