.sell__more{
	background-image:url('../images/background/sell_more.jpg');
	background-size:cover;
	padding-top:50px;
	padding-bottom:50px;
	margin-top:-20px;
	&__picture{
		float:left;
		margin-right:20px;
	}
	&__title{
		color:$color_white;
		font-size:$font-size-sell;
		font-family:$segoe;
		font-weight:$font-weight-semibold;
	}
	&__text{
		color:$color_white;
		font-size:$font-size-h5-title;
		font-family:$open;
	}
}

.list-sell{
	width:80px;
	height:80px;
	margin-left:auto;
	margin-right:auto;	
	position:relative;
	border:1px solid $color_main_pink;
	margin-bottom:20px;
	margin-top:20px;
	@include border-radius(100%);
	[class*='icon-']{
		display:block;
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		margin:auto;
	}
}
.sell__text{
	@extend .text-muted;
	margin-top:30px;
	margin-bottom:30px;
}